{
  "presets": ["@babel/preset-env"],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-syntax-dynamic-import",
    [
      "module-resolver",
      {
        "root": [
          "./src"
        ],
        "alias": {
          "package.json": "./package.json"
        }
      }
    ]
  ]
}
