.header {
  padding: 40px;
  background-color: #0074D9;
  color: wheat;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    width: 150px;
    height: auto;
  }

  &__name {
    margin-right: 20px;
  }
}
