.home-page {
  padding: 20px;
}

.form {
  padding: 10px;
  background-color: #7f7f7f;

  &__label {
    margin-right: 20px;
    font-weight: 800;
  }

  &__input {
    border: 1px solid grey;
    padding: 5px;
    border-radius: 3px;
    width: 250px;
  }
}

.product-item {
  display: flex;
  padding: 10px 0;

  &__name {
    width: 300px;
  }

  &__btn {
    margin-right: 10px;
    font-size: 20px;
  }
}
