.auth-page {
  padding: 50px;

  &__link {
    color: #0074D9;
    font-weight: bold;
    cursor: pointer;
  }
}

.auth-form {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__input {
    border: 1px solid grey;
    padding: 5px;
    border-radius: 3px;
    width: 250px;
    margin-bottom: 10px;
  }

  &__submit {
    margin-top: 20px;
    display: block;
    width: 250px;
    color: #0074D9;
  }
}

.error-text {
  color: red;
}
