
.app-wrapper {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  min-height: 100vh;
  padding: 0 16px;
  flex-direction: column;

  &__content {
    background-color: #bbbbbb;
    flex: 1;
  }
}
